@import url("https://fonts.googleapis.com/css?family=Open+Sans|Pacifico");

body {
  margin: 0;
}

p {
  margin: 0;
  display: inline-block;
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container {
  width: 100%;
  height: 100%;
  max-width: 350pt;
  max-height: 600pt;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatlist-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5pt;
  overflow: hidden;
  box-shadow: 0 0 8pt 0 rgba(0, 0, 0, 0.3);
}

.chatlist-container .chatlist-header {
  background-color: rgba(30, 228, 148, 0.7);
  color: #fff;
  margin: 0;
  height: 40pt;
  font-size: 20pt;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatlist-container .chatlist-header .title {
  font-family: 'Pacifico', cursive;
}

.chatlist-container .chatlist-header .new {
  margin: 10pt;
  font-size: 14pt;
  flex: 1;
  cursor: pointer;
  text-align: right;
}

.chatlist-container .chatlist-header .empty {
  margin: 10pt;
  flex: 1;
}

.chatlist-container .chatlist {
  box-sizing: border-box;
  padding: 0 10pt;
  margin: 10pt 0 0;
  height: 90%;
  overflow-y: scroll;
}

.chatlist-container .chatlist .chat {
  background: rgba(255, 255, 255, 0.8);
  list-style: none;
  cursor: pointer;
  padding: 5pt 13pt;
  font-size: 16pt;
}

.chatroom {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5pt;
  overflow: hidden;
  box-shadow: 0 0 8pt 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.chatroom .chatroom-header {
  background-color: rgba(30, 228, 148, 0.7);
  color: #fff;
  margin: 0;
  height: 40pt;
  font-size: 20pt;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatroom .chatroom-header .chatname {
}

.chatroom .chatroom-header .back {
  margin: 10pt;
  font-size: 14pt;
  flex: 1;
  cursor: pointer;
}

.chatroom .chatroom-header .empty {
  margin: 10pt;
  flex: 1;
}

.chatroom .emojis img {
  max-height: 50pt;
  cursor: pointer;
}
.chatroom .messages {
  box-sizing: border-box;
  padding: 0 20pt;
  margin: 10pt 0 0;
  overflow-y: scroll;
  flex: 1;
}

.chatroom .messages .message {
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  padding: 5pt 13pt;
  font-size: 14pt;
  border-radius: 10pt;
  list-style: none;
  float: left;
  clear: both;
  margin: 10pt 0;
  max-width: 200pt;
}

.chatroom .messages .message .avatar {
  width: 20pt;
  height: 20pt;
  border-radius: 50%;
  position: absolute;
  top: -10pt;
  left: -10pt;
  background-color: white;
  text-align: center;
}

.chatroom .messages .message .avatar .avatar-letter {
  margin-top: 2pt;
}

.chatroom .messages .message .emoji img {
  max-height: 100pt;
}

.chatroom .messages .message.right {
  float: right;
  clear: both;
}

.chatroom .messages .message a {
  text-decoration: none;
  color: #3498db;
}

.chatroom .input {
  height: 40pt;
  width: 100%;
  background: rgba(30, 228, 148, 0.7);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chatroom .input input[type="text"] {
  background: rgba(255, 255, 255, 0.5);
  outline: 0;
  border: 1pt solid #1ee494;
  border-top-left-radius: 5pt;
  border-bottom-left-radius: 5pt;
  margin-left: 5pt;
  height: 30pt;
  box-sizing: border-box;
  font-size: 14pt;
  flex: 1;
}

.chatroom .input input[type="submit"] {
  background: transparent;
  border: 1pt solid #1ee494;
  height: 30pt;
  width: 70pt;
  font-size: 14pt;
  box-sizing: border-box;
  border-top-right-radius: 5pt;
  border-bottom-right-radius: 5pt;
  margin-right: 5pt;
  cursor: pointer;
  transition: all 0.3s ease;
}

.chatroom .input input[type="submit"]:hover {
  background: #1ee494;
  color: #fff;
}

.loader {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  height: 50pt;
  width: 50pt;
  animation: spinner-reveal 1.4s steps(1, end) infinite,
    spinner-rotation 1.4s ease-in-out infinite;
  clip-path: inset(0 0 0 50%);
}
.loader.big {
  height: 64pt;
  width: 64pt;
}
.loader::before,
.loader::after {
  box-sizing: border-box;
  content: "";
  width: 100%;
  height: 100%;
  border: 2pt solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: inset(0 50% 0 0);
  animation: spinner-rotation-a 1.4s linear infinite;
  transition: border-color 0.5s ease-out;
}
.loader::after {
  animation-name: spinner-rotation-b;
}
/***
 * Animations
 */
@keyframes spinner-rotation {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner-rotation-a {
  40%,
  60% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(540deg);
  }
}
@keyframes spinner-rotation-b {
  40% {
    transform: rotate(180deg);
  }
  80% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(540deg);
  }
}
@keyframes spinner-reveal {
  40% {
    clip-path: inset(0 0 0 0);
  }
  80% {
    clip-path: inset(0 50% 0 0);
  }
}
